body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

a.menu {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
}

a.menu:hover {
    background-color: orange;
}

.datos {
    width: 100%;
    background-image: url(img/hero.jpg);
}

div.datos_c {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.menu_nav{
    margin-bottom: 25px;
    border: 1px solid black;
    padding: 25px;
}

a.contact{
    text-decoration: none;
    background-color: lightsalmon;
    color: black;
    padding: .5rem;
    border-radius: .5rem;
}

a.contact:hover{
    background-color: lightpink;
}