body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

a.menu {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
}

a.menu:hover {
    background-color: orange;
}

.menu_nav {
    background-color: lightgray;
    padding: 1rem;
    display: flex;
    width: 100%;
}

.datos {
    width: 100%;
    background-image: url(img/hero.jpg);
}

div.datos_c {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}